<h1>Welcome to tinyApp</h1>
<% if (!username) { %>
   <form action="/login" method="POST" style="margin:150px;">
    <label for="username">Enter Username:</label>
    <input id="username" type="text" name="username" placeholder="JohnDoe" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
 <% } else { %>
   Welcome <%= username %>
  <form action="/logout" method="POST" style="margin:150px;">
    <input type="submit" value="Logout">
  </form>
<% } %>


