<div class="container">
  <h1>Welcome to TinyApp</h1>
</div>

<% if (!user ) { %>
  <div class="form-group">
   <form class="form" action="/login" method="GET">
    <input type="submit" value="Login">
    </form>
     <form class="form" action="/register" method="GET">
      <input type="submit" value="Register">
    </form>
  </div>
 <% } else { %>
  <div class="container">
    Welcome <%= user.email %>
    <form class="form" action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form>
  </div>

<% } %>


