<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include ./partials/_header %>
    <% if (!user) { %>
      <h3>Please login</h3>
    <% } else { %>
      <h1>
            shortURL - <%= shortURL %>
      </h1>
      <form action="/urls/<%=shortURL%>" method="POST" style="margin:150px;">
        <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px">
        <input type="submit" value="Update">
      </form>
    <% } %>
</body>
</html>